@model ArticleDetailsServiceModel
@inject IArticleService articleService

@{
    ViewBag.Title = Model.Title;
}

<div>
    <div class="container">
        <div class="image">
            <img src="@Model.ImageUrl" class="img-fluid">
        </div>
        <div class="text">
            <h2>@Model.Title</h2>
            <hr />
        </div>
    </div>
    @if (Model.IsApproved == false)
    {
        <h3 class="text-danger"><b>Тази статия още не е одобрена!</b></h3>
    }

    @foreach (var paragraph in Model.Content)
    {
        <p>@paragraph</p>
    }
    <hr />
    <p>Автор: <b>@Model.AuthorName</b></p>
    <p>@Model.DateCreated</p>
    @if (Model.HyperlinkSource != null)
    {
        <a href="@Model.HyperlinkSource">Източник</a>
    }
    <p>Категория: <b>@Model.categories</b></p>
    <p>Подходящо време: <b>@Model.weathers</b></p>
    <div class="form-inline">
        @if (this.User.Identity.IsAuthenticated && (await articleService.HasAuthorWithIdAsync(Model.Id, User.Id()) || User.IsAdmin()))
        {
            <a class="btn btn-warning" asp-controller="Article" asp-action="Edit"
               asp-route-id="@Model.Id">Edit</a>
            <a class="ml-2 btn btn-danger" asp-controller="Article" asp-action="Delete"
               asp-route-id="@Model.Id">Delete</a>
        }
    </div>
    
</div>

