@model IEnumerable<UserServiceModel>

@{
    ViewBag.Title = "Всички потребители";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<table class="table table-striped">
    <thead>
        <tr>
            <th><label>Имейл</label></th>
            <th><label>Име на автора</label></th>
            <th><label>Име на организатора</label></th>
            <th><label>Телефонен номер</label></th>
            <th><label>Автор</label></th>
            <th><label>Организатор</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><label>@user.Email</label></td>
                <td><label>@user.AuthorName</label></td>
                <td><label>@user.OrganizationName</label></td>
                <td><label>@user.PhoneNumber</label></td>
                <td>
                    @if (user.UserIsAuthor)
                    {
                        <label class="text-center">✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
                <td>
                    @if (user.UserIsOrganizer)
                    {
                        <label class="text-center">✔</label>
                    }
                    else
                    {
                        <label class="text-center">❌</label>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
