@model IEnumerable<ArticleDetailsServiceModel>

@{
    ViewBag.Title = "За одобрение";
}

<h2 class="text-center">@ViewBag.Title</h2>

<hr />
<h4>Статии за одобрение: </h4>
@if (!Model.Any())
{
    <h2 class="text-center">Няма статии за одобрение</h2>
}
<div class="row">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><label>Дата</label></th>
                <th><label>Автор</label></th>
                <th><label>Заглавие</label></th>
                <th><label>Детайли</label></th>
                <th><label>За одобрение</label></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var article in Model)
            {
                <tr>
                    <td><label>@article.DateCreated</label></td>
                    <td><label>@article.AuthorName</label></td>
                    <td><label>@article.Title</label></td>
                    <td>
                        <form class="input-group-sm" asp-controller="Article" asp-area="" asp-action="Details" asp-route-id="@article.Id" method="get">
                            <input class="btn btn-success" type="submit" value="Details">
                        </form>
                    </td>
                    <td>
                        <form class="input-group-sm" asp-controller="Article" asp-area="Admin" asp-action="Approve" asp-route-articleId="@article.Id" method="post">
                            <input class="btn btn-warning" type="submit" value="Approve">
                        </form>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>