@model EventServiceModel
@inject IEventService eventService

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImageUrl" alt="Event Image">
        <div class="card-body text-center">
            <h4>@Model.Title</h4>
            <h6>Кратко представяне: <b>@Model.BriefDescription</b></h6>
            <h6>Организатор: <b>@Model.OrganizerName</b></h6>
            <h6>Начало: <b>@Model.StartDate</b> Край: <b>@Model.EndDate</b>  </h6>
            <br />
            <a asp-controller="Event" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
            @if (this.User.Identity.IsAuthenticated && await eventService.HasOrganizerWithIdAsync(Model.Id, User.Id()))
            {
                <a asp-controller="Event" asp-action="Edit" asp-route-id="@Model.Id"
                   class="btn btn-warning">Edit</a>
                <a asp-controller="Event" asp-action="Delete" asp-route-id="@Model.Id"
                   class="btn btn-danger">Delete</a>
                <p></p>
            }
        </div>
    </div>
</div>
